<div class="project-container">
    <p id="project-container-heading"><strong>Projects</strong></p>  
    <div class="project-list">
      <ol>
        <li>
          <p><strong>Title: </strong>Students Examination Seating Plan</p>
          <p><strong>Duration: </strong>April ’18 to June ‘18</p>
          <p><strong>Project Objective: </strong></p>
          <p>To develop student’s examination seating arrangement plan which will help the faculties to prepare the examination seating plan quickly.</p>
          <p><strong>Technology Used: </strong>Python</p>
        </li>
        <li>
            <p><strong>Title: </strong>Chatbot on Facebook Messenger for booking a table in a restaurant.</p>
            <p><strong>Duration: </strong>1 month November 2018.</p>
            <p><strong>Project Objective: </strong></p>
            <p>The user can talk to the bot and get a table booked in any restaurant.</p>
            <p><strong>Technology Used: </strong>Dialogflow, Facebook Messenger.</p>

        </li>
        <li>
            <p><strong>Title: </strong>Resume</p>
            <p><strong>Duration: </strong>3 Days</p>
            <p><strong>Technology Used: </strong>Angular 6</p>
        </li>
      </ol>
    </div>
</div>
