<div class="research-container">
    <div class="research">
      <p id="research-heading"><strong>Research Publications</strong></p>
      <ul>
        <li>
          <p><strong>Topic: “ACADV (An Automatized Concept for Advancement in Farming)”</strong></p>
          <p><strong>Journal: </strong> IJIREEICE (ISO Certified Vol. 5, Issue 3 March 2017)</p>
        </li>
        <li>
            <p><strong>Topic: : “A Survey on Network Forensics and Network Monitoring Tools”</strong></p>
            <p><strong>Journal: </strong> JASC (Journal of Applied Science and Computation)</p>
        </li>
      </ul>
    </div>
</div>
