<div class="container">
    <div class="details">
      <div class="basic-details">
          <p><b>Name: Anushka.Satyanarayan.Sehrawat</b></p>
          <p>Email: anushkasehrawat98@gmail.com</p>
          <p>Mobile: 9503837924</p>
          <p>Social network address: Github username: AnushkaSehrawat</p>
      </div>
      <hr>
      <div class="objective">
          <p id="objective-heading"><b>Objective:</b></p>
          <p>To utilize my expertise and to acquire more knowledge and experience to obtain maximum performance for the organization.</p>
      </div>
      <hr>
      <div class="extra-curricular-activities">
          <p id="extra-curricular-activities-heading"><b>Extra-Curricular Activities:</b></p>
          <p>Playing  badminton, Dancing.</p>
      </div>
      <hr>
      <div class="personal-details">
        <p id="personal-details-heading"><b>Personal Details:</b></p>
        <p>Date of Birth: 25th July 1998.</p>
        <p>Gender:Female.</p>
        <p>Language Proficiency: English,Hindi,Marathi.</p>
        <p>Permanent Address:B-5/302 Prasad Nagar Wadgaon Sheri Pune 411014</p>
        <p>Alternate Contact Number:9850084924.</p>
        <p>Hobbies: Trying adventurous things, Newspaper reading, Travelling.</p>
      </div>
    </div>
    <div class="profile">
          <img src="assets/img/imgFile.jpg">
    </div>
</div>
