.header{
    background-color:azure;
    height: 80px;
    text-align:center; 
    display:table;
    width:100%;
}
h1{
    text-align: center;
    margin: 0px;
    display:table-cell; 
    vertical-align:middle
    
}