
<div class="experience-container">
    <div class="experience">
        <p id="experience-heading"><b>Experience</b></p>
        <div class="experience-details">
              <p><strong>Organization: </strong>Tavisca Travel Technology Specialist.</p>
              <p><strong>Purpose: </strong>Training.</p>
              <p><strong>Duration: </strong>22nd July 2018 to 2nd November 2018.</p>
              <p><strong>Profile: </strong>API (Application Programming Interface) And GUI</p>
        </div>
    </div>
</div>