
<div class="skills-container">
    <div class="skills">
        <p id="skills-heading"><b>Skills</b></p>
        <div class="skills-details">
            <p>Basic knowledge of:</p>
        </div>
        <div class="skills-list">
          <ul>
            <li>C</li>
            <li>Java</li>
            <li>Linux</li>
            <li>Computer Networking</li>
            <li>Html5 ,CSS3,SCSS,Java Script</li>
            <li>Databases:</li>
                <ul>
                    <li>SQL: Oracle,Mysql</li>
                    <li>NoSQL: Aerospike, Cassandra, Elastic Search.</li>
                </ul>
            <li>Certified (online) - udemy.com at RHCSA.</li>
            <li>C#(.Net core  and .Net Framework)</li>
            <li>Angular 6</li>
            <li>Design Principals (SOLID) and Design Patterns.</li>
            <li>Unit Test(Xunit)</li>
            <li>MOQ</li>
            <li>API(Application Programming Interface)</li>
            <li>Writing build jobs for .net applications and xunit test projects using Jenkins.</li>
          </ul>
        </div>
    </div>
</div>